  <div class="row">
    <div class="col-lg-6">
      
      <h1>New Reservation</h1>
      
      <%= render 'form', reservation: @reservation %>
      
      <%= link_to 'Back', reservations_path %>
  </div>
</div>
