<!--<p id="notice"><%#= notice %></p>-->

<div class="container">

<div class="row">
  <h1>Rooms</h1>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Floor</th>
          <!--<th>Actions</th>-->
        </tr>
      </thead>
    
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.state %></td>
            <td><%= room.floor %></td>
            <!--<td>-->
            <!--  <%#= link_to 'Show', room, :class => 'btn btn-xs btn-info' %>-->
            <!--  <%#= link_to 'Edit', edit_room_path(room), :class => 'btn btn-xs btn-warning' %>-->
            <!--  <%#= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>-->
            <!--</td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Room', new_room_path %>
</div>