/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.navbar {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.table-wrapper-scroll-y {
  margin-top: 10px;
  display: block;
  max-height: 500px;
  overflow-y: auto;
}  

.index-table-actions {
  margin: 0px;
  font-size: 10px;
  // padding: -5px;
}

.card-actions {
  margin-top: 10px;
  margin-left: 10px;
}


.table {
  margin-top: 20px;
}


// Styles for footer
footer {
  margin-top: 45px;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}


footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

// ------------ Contact Form ------------ //

.contact-form{
			margin-top: 30px;
		// 	padding: 25px 50px 75px 50px;
			padding: 70px;
		  box-shadow: 0px 0px 10px 3px;
		  align: center;
		  background-color: #F5F5F5;
		  // color: white;
		}