<div class="container-fluid">
  <footer class="footer">
      <small>
        Copyright &copy; <a href="#">The Church Booking System</a>
        by <a href="#">Aseda Ohene-Adu</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", "#" %></li>
        </ul>
      </nav>
  </footer>
</div>